.bord {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.vak {
    width: 30%;
    height: 30%;
    float: left;
    border: 1px solid black;
}

.winnaar {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}