html{
    font-family: Roboto, Verdana, arial, sans-serif;
    text-align: center;
}

.bord {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.vak {
    width: 30%;
    height: 30%;
    float: left;
    display: table-cell;
    text-align: center;
    font-size:21px;
    line-height: 90px;
}
.vak:nth-child(even){
    background-color:#dde1f3;
}

.vak:nth-child(odd) {
    background-color:#c4caeb;
}

div.winnaar {
    background-color:#0ba43d !important;
    color: white;
}